S3method(ewoc2, default)
S3method(ewoc2simu, default)
S3method(plot, ewoc2simu)
S3method(print, ewoc2)
S3method(print, ewoc2simu)
import(graphics)
import(stats)
import(rjags)
import(MASS)
export(ewoc2)
export(ewoc2simu)
export(mtdcurve)
export(pdlt)